@model DataDictionary.Models.Datentyp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Datentyp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>
      
        <dt>
            Anwendungen
        </dt>
        <dd>
            @{
                foreach (var anwendung in Model.MeineAnwendungen)
                {
                    @:  @anwendung.Name
                    <br />
                }
            }
        </dd>
        <dt>
            Felder
        </dt>
        <dd>
            @{
                foreach (var feld in Model.MeineFelder)
                {
                    @:  @feld.Name
                    <br />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
