@model DataDictionary.Models.Anwendung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
        @Html.DisplayFor(model => model.Beschreibung) <br />
        @{
            foreach (var datentyp in Model.MeineDatentypen)
            {       
                    @Html.RouteLink(@datentyp.Name, new { action = "Edit", controller = "Datentypen", id = Model.Id})<br />
                
                    foreach (var feld in datentyp.MeineFelder)
                    {
                        @:  @feld.Name <br />
                    }
            }
        }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Zurück", "Index")
</p>
