@model DataDictionary.Models.Anwendung

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
       <h3>Beschreibung: @Html.DisplayFor(model => model.Beschreibung)</h3> 
        <hr />
   
    @*<p>@Html.ActionLink("Anwendung Bearbeiten", "Edit", new { id = Model.Id }) </p>*@
    <input type="button" class="btn btn-info" value="Anwendung bearbeiten!" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'" />
        <h3>Vorhandene Datentypen:</h3>
        @{ 
            foreach (var datentyp in Model.MeineDatentypen)
            {       
                <h4>@Html.RouteLink(@datentyp.Name, new { action = "Edit", controller = "Datentypen", id = datentyp.Id })<br /></h4>
                <ul>
                    @foreach (var feld in datentyp.MeineFelder)
                    {
                        if (feld.MeineAnwendungen.Contains(Model))
                        {
                            <li>
                                @feld.Name <br />
                            </li>
                        }
                    }
                </ul>
                
            }
        }
</div>
<p>
    
    @*<h5>@Html.ActionLink("Zurück zur Übersicht", "Index")</h5>*@
    <input type="button" class="btn btn-info" value="Zurück zur Übersicht!" onclick="location.href='@Url.Action("Index")'" />
</p>
