@model DataDictionary.Models.Anwendung

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
        @Html.DisplayFor(model => model.Beschreibung) <br />
        <hr />
        @{ 
            foreach (var datentyp in Model.MeineDatentypen)
            {       
                <h4>@Html.RouteLink(@datentyp.Name, new { action = "Edit", controller = "Datentypen", id = datentyp.Id })<br /></h4>
                <ul>
                    @foreach (var feld in datentyp.MeineFelder)
                    {
                        <li>
                            @feld.Name <br />
                        </li>                    
                    }
                </ul>
                
            }
        }
</div>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Übersicht", "Index")
</p>
