@model DataDictionary.Models.Anwendung

@{
    ViewBag.Title = "Edit";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)

        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
        </div>
    </div>

        <div>
            @Html.LabelFor(model => model.Beschreibung)
            <div>
                @Html.EditorFor(model => model.Beschreibung)
                @Html.ValidationMessageFor(model => model.Beschreibung, "")
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="form-group col-md-4">
                <label class="control-label"> Selected Datentypen</label>
                @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-1">
                <div class="form-group">
                    <button type="button" id="btnRight" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" id="btnLeft" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>
                    <div></div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Available Datentypen</label>
                @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div>
            <label>Felder</label>
            <div>
            @{
                List<DataDictionary.ViewModels.Anwendung_Feld_VM> felder = ViewBag.Feld;
                List<int> mFelder = new List<int>();

                foreach (var datentyp in Model.MeineDatentypen)
                {
                    <h5>@datentyp.Name</h5>
                    @: <table>
                        @: <tr>
                                foreach (var feld1 in datentyp.MeineFelder)
                                {
                                    mFelder.Add(feld1.Id);
                                    foreach (var feld in felder)
                                    {
                                        if (feld.FeldID == feld1.Id)
                                        {
                                            <td>
                                                <input type="checkbox"
                                                       name="selectedFelder"
                                                       value="@feld.FeldID"
                                                       @(Html.Raw(feld.Assigned ? "checked=\"checked\"" : "")) />
                                                @feld.FeldName
                                            </td>
                                        }

                                    }
                                } 
                        @:</tr>
                    @:</table>
                }
            }
        </div>
        <div>
            <hr />
            <input type="submit" value="Speichern"/>
            <input type="button" class="btn btn-info" value="Zurück zur Übersicht" onclick="location.href='@Url.Action("Index")'" />
            <input type="button" class="btn btn-info" value="Zurück zu Details" onclick="location.href='@Url.Action("Details", new { id = Model.Id })'" />
            <hr />
        </div>
    </div>
}


