@model DataDictionary.Models.Datentyp

@{
    ViewBag.Title = "Create";
}

<h2>Datentyp erstellen</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Beschreibung)
            <div>
                @Html.EditorFor(model => model.Beschreibung)
                @Html.ValidationMessageFor(model => model.Beschreibung, "")
            </div>
        </div>
        
        <div>
            <div>
                <hr /> <input type="submit" value="Weiter"/><hr />
            </div>
        </div>
    </div>
}

<div>
    <h5>@Html.ActionLink("Zurück zur Übersicht", "Index")</h5>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
