@model DataDictionary.Models.Datentyp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
      <p>@Html.DisplayFor(model => model.Beschreibung)</p>
      @foreach (var item in Model.MeineAnwendungen)
      {
          @Html.RouteLink(item.Name, new { action = "Details", controller = "Anwendungen", id = item.Id}) <br >
      }
        <table class="table">        
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Sensibel
                </th>
                <th>
                    PK
                </th>
                <th>
                    Anwendung
                </th>
            </tr>
            @foreach (var item in Model.MeineFelder) {
                <tr>
                    <td>
                         @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sensibel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PK)
                    </td>
                    <td>
                    @{
                        int i = 0;
                        var alleAnwendungen = new List<string>();
                        foreach (var datentyp in item.MeineDatentypen)
                        {
                            foreach (var anwendung in datentyp.MeineAnwendungen)
                            {
                                if (!alleAnwendungen.Contains(anwendung.Name))
                                {
                                    alleAnwendungen.Add(anwendung.Name);
                                }

                            }
                        }
                        foreach (var anwendung in alleAnwendungen)
                        {
                            @Html.DisplayText(anwendung.ToString())
                            i++;
                        }
                        @: @i <br />
                        }
                    </td>
                    <td>
                        @Html.RouteLink("Bearbeiten", new { action = "Edit", controller = "Felder", id = item.Id })<br />
                    </td>

                </tr>
            }         
        </table>
    <p>@Html.RouteLink("Neues Feld erstellen", new { action = "Create", controller = "Felder" })</p>
</div>
<p>
    @Html.ActionLink("Datentyp bearbeiten", "Edit", new { id = Model.Id })
    @Html.ActionLink("Übersicht", "Index")
</p>
