@model DataDictionary.Models.Datentyp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>@Html.ActionLink("Create New Feld", "Create")</p>
<div>
    <h4>Datentyp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>
        </dl>

       
    <text> Felder</text>
        <table class="table">
            
         
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Sensibel
                </th>
                <th>
                    PK
                </th>
                <th>
                    Anwendung
                </th>
            </tr>
            <tr>
                <td>
                  
                    @foreach (var feld in Model.MeineFelder)
                    {
                        @:  @feld.Name <br />
                       

                    } 
                   
                </td>
                <td>
                    @foreach (var feld in Model.MeineFelder)
                    {
                        @:  @feld.Sensibel <br />
                       
                    }
                </td>
                <td>
                    @foreach (var feld in Model.MeineFelder)
                    {
                        @:  @feld.PK 
                      <br />
                    }
                </td>

                <td>
                    @foreach (var anwendung in Model.MeineAnwendungen)
                    {

                    @:
                        @anwendung.Name
                       <br />

                    }

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <br/>
                </td>
               
            </tr>
                   
</table>


  
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
