@model DataDictionary.Models.Datentyp

@{
    ViewBag.Title = "Details";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <hr />
    <h3>Beschreibung: @Html.DisplayFor(model => model.Beschreibung)</h3>

    <hr />
     @*<p>@Html.ActionLink("Datentyp bearbeiten", "Edit", new { id = Model.Id })</p>*@
    <input type="button" class="btn btn-info" value="Datentyp bearbeiten!" onclick="location.href='@Url.Action("Edit", new {id = Model.Id })'" />
    <hr />
    <h3>Felder</h3>
        <table>        
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Sensibel
                </th>
                <th>
                    PK
                </th>
                <th>
                    Anwendung
                </th>
            </tr>

            @foreach (var item in Model.MeineFelder) {
                <tr>
                    <td>
                         @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sensibel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PK)
                    </td>
                    <td>
                    @{
                        int i = 0;
                        var alleAnwendungen = new List<string>();
                        foreach (var datentyp in item.MeineDatentypen)
                        {
                            foreach (var anwendung in datentyp.MeineAnwendungen)
                            {
                                if (!alleAnwendungen.Contains(anwendung.Name))
                                {
                                    alleAnwendungen.Add(anwendung.Name);
                                }

                            }
                        }
                        foreach (var anwendung in alleAnwendungen)
                        {
                            @Html.DisplayText(anwendung.ToString())
                            i++;
                        }
                        @: @i <br />
                       }
                    </td>
                    <td>
                        <input type="button" class="btn btn-info" value="Bearbeiten!" onclick="location.href='@Url.Action("Edit", "Felder", new {id = item.Id })'" />
                    </td>

                </tr>
            }         
        </table>
</div>
<hr />
<h3>Kommt in Anwendungen vor</h3>
<ul>
    @foreach (var item in Model.MeineAnwendungen)
    {
        <li>
            @Html.RouteLink(item.Name, new { action = "Details", controller = "Anwendungen", id = item.Id })<br />
        </li>
    }
</ul>

<p> 
  @* <h5>@Html.ActionLink("Zurück zur Übersicht", "Index")</h5>*@
    <input type="button" class="btn btn-info" value="Zurück zur Übersicht!" onclick="location.href='@Url.Action("Index")'" />
</p>
