@model DataDictionary.Models.Datentyp

@{
    ViewBag.Title = "Edit";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)

        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Beschreibung)
            <div>
                @Html.EditorFor(model => model.Beschreibung)
                @Html.ValidationMessageFor(model => model.Beschreibung, "")
            </div>
        </div>
        <hr />
        <div>
            <label>Anwendungen</label>
            <div>
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<DataDictionary.ViewModels.Anwendung_Datentyp_VM> anwendungen = ViewBag.Anwendung;

                            foreach (var anwendung in anwendungen)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @: </tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedAnwendungen"
                                           value="@anwendung.AnwendungID"
                                           @(Html.Raw(anwendung.Assigned ? "checked=\"checked\"" : "")) />
                                        @anwendung.AnwendungName
                                        @:</td>
                            }
                            @:</tr>
                        }
                </table>
            </div>
        </div>
        <hr />
        <div>
            <label>Felder</label>
            <div>
                <table>
                    <tr>
                        @{
                            int cnt2 = 0;
                            List<DataDictionary.ViewModels.Feld_Datentyp_VM> felder = ViewBag.Feld;

                            foreach (var feld in felder)
                            {
                                if (cnt2++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedFelder"
                                           value="@feld.FeldID"
                                           @(Html.Raw(feld.Assigned ? "checked=\"checked\"" : "")) />
                                        @feld.FeldName
                                        @:</td>
                            }
                            @:</tr>
                        }
                    </table>
                @*<p>@Html.RouteLink("Neues Feld erstellen", new { action = "Create", controller = "Felder", Model.Id})</p>*@
                <input type="button" class="btn btn-info" value="Neues Feld erstellen!" onclick="location.href='@Url.Action("Create","Felder",new { Model.Id })'" />
                </div>
            </div>
        <div>
            <div>
                <hr />
                <input type="submit" value="Speichern"/>
                <hr />
            </div>
        </div>
    </div>
}

<div>
 @*  <h5>@Html.ActionLink("Zurück zur Übersicht", "Index")</h5>*@
    <input type="button" class="btn btn-info" value="Zurück zur Übersicht!" onclick="location.href='@Url.Action("Index")'" />
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
