@model DataDictionary.Models.Datentyp

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Datentyp</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Beschreibung, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Beschreibung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Beschreibung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Anwendungen</label>
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<DataDictionary.ViewModels.Anwendung_Datentyp_VM> anwendungen = ViewBag.Anwendung;

                            foreach (var anwendung in anwendungen)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @: </tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedAnwendungen"
                                           value="@anwendung.AnwendungID"
                                           @(Html.Raw(anwendung.Assigned ? "checked=\"checked\"" : "")) />
                                        @anwendung.AnwendungName
                                        @:</td>
                            }
                            @:</tr>
                        }
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Felder</label>
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt2 = 0;
                            List<DataDictionary.ViewModels.Feld_Datentyp_VM> felder = ViewBag.Feld;

                            foreach (var feld in felder)
                            {
                                if (cnt2++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedFelder"
                                           value="@feld.FeldID"
                                           @(Html.Raw(feld.Assigned ? "checked=\"checked\"" : "")) />
                                        @feld.FeldName
                                        @:</td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
