@model IEnumerable<DataDictionary.Models.Datentyp>

@{
    ViewBag.Title = "Datentyen";
}

<h2>Datentyen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th>
            Felder
        </th>
        <th>
            Anwendungen
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
      

        <td>
            @{
                int i = 0;
                foreach (var feld in item.MeineFelder)
                {
                    @Html.RouteLink(@feld.Name, new { action = "Edit", controller = "Felder", id = item.Id })
                    i++;
                }
                @: @i <br />
            }
        </td>

        <td>
            @{
                 i = 0;
                foreach (var anwendung in item.MeineAnwendungen)
                {
                    i++;
                }
                @: @i <br />
            }
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
         
        </td>
    </tr>
}

</table>
