@model DataDictionary.Models.Feld

@{
    ViewBag.Title = "Create";
}

<h2>Feld erstellen</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Sensibel)
            <div>
                @Html.EditorFor(model => model.Sensibel)
                @Html.ValidationMessageFor(model => model.Sensibel, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.PK)
                @Html.ValidationMessageFor(model => model.PK, "")
            </div>
        </div>

        <div>
            <div>
                <hr />
                <input type="submit" value="Erstellen"/>
                <hr />
            </div>
        </div>
    </div>
}

<div>
    <h5>@Html.RouteLink("Zurück zur Übersicht", new { action = "Index", controller = "Datentypen" })</h5>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
