@model DataDictionary.Models.Feld

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feld</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sensibel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sensibel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PK)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ 
    <input type="button" class="btn btn-info" value="Bearbeiten!" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'" />
    @*@Html.ActionLink("Back to List", "Index")*@
    <input type="button" class="btn btn-info" value="Zurück zur Übersicht!" onclick="location.href='@Url.Action("Index")'" />
</p>
