@model DataDictionary.Models.Feld

@{
    ViewBag.Title = "Edit";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)

        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Sensibel)
            <div>
                @Html.EditorFor(model => model.Sensibel)
                @Html.ValidationMessageFor(model => model.Sensibel, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.PK)
            <div>
                @Html.EditorFor(model => model.PK)
                @Html.ValidationMessageFor(model => model.PK, "")
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Speichern" />

                @* @Html.ActionLink("Back to List", "Index", "Datentypen")*@
                <input type="button" class="btn btn-info" value="Zurück zur Übersicht" onclick="location.href='@Url.Action("Index","Datentypen")'" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
