@model DataDictionary.Models.Feld

@{
    ViewBag.Title = "Felder ermitteln";
}


<h2>@Html.DisplayFor(model => model.Name)</h2>

<h2>Felder ermitteln</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)

        <div>
            <label>Datenbank Name:</label> 
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
            <label>Username:</label>
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
            <label>Passwort:</label>
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>

        </div>
        <hr />
        <div>
            <div>
                <input type="submit" value="Auslesen" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
