@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/multiSel_Search")
}


@model DataDictionary.Models.Anwendung

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/Editstylesheet.css" rel="stylesheet" />
<h2>@Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)

        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
        </div>
    </div>

        <div>
            @Html.LabelFor(model => model.Beschreibung)
            <div>
                @Html.EditorFor(model => model.Beschreibung)
                @Html.ValidationMessageFor(model => model.Beschreibung, "")
            </div>
        </div>
        <hr />
        <div>
            <div>&nbsp;</div>     
            
            <div class="box">
                <label>Meine Datentypen</label>
                <input type="text" onkeyup="MyUtil.selectFilter('selectedDatentypen', this.value)" placeholder="Suchen" /><br />
                @Html.ListBox("selectedDatentypen", (MultiSelectList)ViewBag.selectedDatentypen, new { @class = "lbjs" })       
            </div>
            <div class="but">
                <div>
                    <button type="button" id="btnRightDatentyp">
                        <span aria-hidden="true">>></span>
                    </button>
                </div>
                <div>
                    <button type="button" id="btnLeftDatentyp">
                        <span aria-hidden="true"><<</span>
                    </button>

                </div>
            </div>
            <div class="box">
                <label>Alle Datentypen</label>
                <input type="text" onkeyup="MyUtil.selectFilter('alleDatentypen', this.value)" placeholder="Suchen" /><br />
                @Html.ListBox("alleDatentypen", (MultiSelectList)ViewBag.alleDatentypen, new { @class = "lbjs" })
            </div>
       </div>
        <hr class="clear"/>
        <div>
          
            <div>
            @{
                List<DataDictionary.ViewModels.Anwendung_Feld_VM> felder = ViewBag.Feld;
                List<int> mFelder = new List<int>();

                foreach (var datentyp in Model.MeineDatentypen)
                {
                    <label class="collapse" for="_1">@datentyp.Name</label>
                    <input id="_1" type="checkbox">
                    @:<div>
                        @:<ul class="ul">

                            foreach (var feld1 in datentyp.MeineFelder)
                            {
                            mFelder.Add(feld1.Id);
                            foreach (var feld in felder)
                            {
                            if (feld.FeldID == feld1.Id)
                            {
                            <li class="li">
                                <label>
                                    <input type="checkbox"
                                           name="selectedFelder"
                                           value="@feld.FeldID"
                                           @(Html.Raw(feld.Assigned ? "checked=\"checked\"" : "")) />
                                    @feld.FeldName
                                </label>
                            </li>
                            }

                            }
                            }
                            @:</ul>
                    @:</div>
                }
            }
        </div>
        <div>
            <hr />
            <input type="submit" id="btnSubmitDatentyp" value="Speichern" class="btn btn-default" />
            <input type="button" class="btn btn-info" value="Zurück zur Übersicht" onclick="location.href='@Url.Action("Index")'" />
            <input type="button" class="btn btn-info" value="Zurück zu Details" onclick="location.href='@Url.Action("Details", new { id = Model.Id })'" />
            <hr />
        </div>
    </div>
}



